button {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
h1, p {
    margin: auto;
    padding: 10px;
}
#text {
    display: block;
    margin: auto;
    text-align: center;
}
#gridparent {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    padding: 0;
    margin: auto;
    border: 60px solid red;
    border-bottom: 90px solid red;
    border-radius: 20px;
}
.rolledover {
    background-color: black;
}
.unrolled {
    background-color: white;
}